 @media print{
        body {margin-top:0 !important; margin-right: 4mm;margin-left: 4mm;}
      @page {
        margin: 0 !important;
      }
      html,body {
            page-break-after: avoid;
            page-break-before: avoid;
            height: 42mm;
            width: 100mm;
      }
    }
    .container{
        page-break-after:always;
        margin-top: 4mm;
        margin-bottom: 4mm;
        padding: 0;
    }