
html,body {
  padding: 0;
  margin: 0;
  height: 50mm;
}
  @media print{
            body {
              margin-top:0 !important;
              margin-bottom: 0 !important;
              // margin-right: 3mm;
              // margin-left: 3mm;
              margin-right: 0 !important;
              margin-left: 0 !important;
              }
            @page {
                page-break-before:always;
                page-break-after: always;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }